<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<title>Goal Bucket</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/goals.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
